<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Drink List</title>
</head>
<body class="container">
<h1>Cafe menu</h1>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>#</th>
        <th>image</th>
        <th>Drink</th>
        <th>Modify</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tboby>
        {% for drink in drink_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            {%  if drink.image != '' %}
            <td><img src="{{ drink.image.url }}" alt="아메리카노" width="100" class="img-rounded mx-auto d-block"></td>
            {% else %}
            <td>------</td>
            {% endif %}
            <td>{{ drink }}</td>
            <td><a href="{% url 'menu:update' pk=drink.id %}">Modify</a></td>
            <td><a href="{% url 'menu:delete' pk=drink.id %}">Delete</a></td>
        </tr>
        {% endfor %}
    </tboby>
</table>
<a href="{% url 'menu:add_coffee' %}" class="btn btn-primary">Add Coffee</a>
<a href="{% url 'menu:add_bubbletea' %}" class="btn btn-primary">Add Bubbletea</a>
</body>
</html>